<!doctype html>
<html>
	<head>
		
	</head>

	<body>
		<div ng-app="CalculatorApp">
			<div ng-controller="ctrlAjax">
				<ul>
					<li ng-repeat="i in data">{{i.name}}</li>
				</ul>
				<button ng-click="getData()">Get Data</button>
			</div>


			<div ng-controller="ctrlAjax1">
				<ul>
					<li ng-repeat="i in data">{{i.name}}</li>
				</ul>
				<button ng-click="getData()">Get Data</button>
			</div>
		</div>

		<script src="angular.min.js"></script>
		<script src="jquery.min.js"></script>
		<script>
			var calcModule = angular.module("CalculatorApp", []);

				calcModule.controller("ctrlAjax", ["$scope", "serviceAjax", function($scope, serviceAjax){
					$scope.data = [];
					$scope.getData = function(){
						serviceAjax.getData(function(){
							$scope.data = serviceAjax.returnData();
						});
					};
				}]);
				calcModule.controller("ctrlAjax1", ["$scope", "serviceAjax", function($scope, serviceAjax){
					$scope.data = [];
					$scope.getData = function(){
						serviceAjax.getData(function(){
							$scope.data = serviceAjax.returnData();
						});
					};
				}]);

				calcModule.service("serviceAjax", ["$http", function($http){
					var respData;
					this.getData = function(cb){
						if(respData){
							cb();
							return;
						}
						$http({
							method: 'GET',
							url: 'data.json'
						}).then(function(resp){
							console.log("success");
							respData = resp.data;
							cb();
						}, function(error){
							console.log(error);
						});
					}
					this.returnData = function(){
						return respData;
					}
				}]);
		</script>
	</body>
</html>