<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="toDoApp" ng-controller="todoCtrl">
<h3>Todo List</h3>

    <input type="text" ng-model="todoItem">
    <input type="submit" value="Submit" ng-click="todoAdd()">
<br>

<div ng-repeat="x in todoList">
     	<span ng-bind="x.todoText"></span><button ng-click="todoedit(x,$index)">Edit</button><button ng-click="tododelete(todoList.indexOf(x))">Delete</button>
</div>

<script>
var app = angular.module('toDoApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [];

    $scope.todoAdd = function() {
	if($scope.index != null){
	$scope.todoList[$scope.index].todoText = $scope.todoItem;
	$scope.index = "";
	}
	else
        {
        $scope.todoList.push({todoText:$scope.todoItem});
        
	}
	$scope.todoItem = "";
    };

    $scope.todoedit = function(x,index) {
	 $scope.todoItem = x.todoText;
	 $scope.index = index;
      
    };


$scope.tododelete = function($val){
$scope.todoList.splice($val, 1);
} 

});
</script>

</body>
</html>

