<!DOCTYPE html>
<html>
    <script src="js/angular.min.js"></script>
    <body>


        <div ng-app="testApp">


            <div  ng-controller="dinacontroller">   

                <input type="text"placeholder="Type ToDo Task Here..."  ng-model="addToDo" name="addToDo"> 
                <input type="button" name="submit" value="Submit"  ng-click="displayName()">
                <div>{{Ndisplay}}</div>

                <br /><hr />
                <div><b> To Do Lists:: </b></div>
                <ol>
                    <li ng-repeat="value in todoDataArray| orderBy:'+':true" ng-disabled=!"{{$index}}" >{{value.displayText}} | 
                        <input type="button" name="edit" value="Update"  ng-click="updateTask(value, $index, value.displayText)" data-ng-disabled="value.isDisabled" >
                        <input type="button" name="Delete" value="Delete"  ng-click="DeleteTask(value, $event)"  data-ng-disabled="value.isDisabled"  >
                        <input type="button" name="Done" value="Done"  ng-click="doneTask($index, value)"  data-ng-disabled="value.isDisabled" >
                        <br />
                    </li>
                </ol>


            </div>


        </div>
        

        <script>
            var app = angular.module('testApp', []);
            app.controller('dinacontroller', function ($scope) {
                $scope.todoDataArray = [];
                $scope.isDisabled = false;
                $scope.editing = false;

                $scope.displayName = function () { // Save todo (new records)
                    
                    if ($scope.editing !== false) {  //######### Update Task 
                        
                        $scope.todoDataArray[$scope.editing] = $scope.addToDo;
                        $scope.editing = false;
                         $scope.todoDataArray[$scope.todoDataArray.indexOf(todoValue)].isDisabled = false;

                    } else { ///######### Add New Task 
                        $scope.todoDataArray.push({displayText: $scope.addToDo});
                        //$scope.Ndisplay = $scope.name;
                        $scope.addToDo = '';
                    }
                };

//#### Update todo Task 
                $scope.updateTask = function (todoValue, index, txt) {
                    $scope.todoDataArray[$scope.todoDataArray.indexOf(todoValue)].isDisabled = true;
                    $scope.editing = $scope.todoDataArray.indexOf(todoValue);
                    $scope.addToDo = txt;

                }
                //#### Delete Selected Task
                $scope.DeleteTask = function (todoValue, event) {
                    //alert(todoValue)
                    $scope.todoDataArray.splice($scope.todoDataArray.indexOf(todoValue), 1);
                }


//Done Task (disabled complete row)
                $scope.doneTask = function (index, todoValue) {
                    $scope.todoDataArray[$scope.todoDataArray.indexOf(todoValue)].isDisabled = true;
                    //     return false;

//             alert(index)
//             if($scope.todoDataArray.indexOf(todoValue) === index) {
//                  $scope.isDisabled = true;
//                  return false;
//             } else {
//                  $scope.isDisabled = false;
//                 return true;
//             }
                    //  return $scope.todoDataArray.indexOf(todoValue) !== -1;

                    // $scope.isDisabled = true;
                    // return false;
                    //$scope.todoDataArray.splice($scope.todoDataArray.indexOf(todoValue), 1);
                }


            });
        </script>
    </script>


</body>
</html>
