<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">
<h2>My Todo List</h2>
<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="hidden" name="id" id="toDoListId" />
    <input type="submit" value="Save" >
</form>
<br>
<div ng-repeat="x in todoList">
    <div ng-style="x.done == true ? { 'width':'100%', 'background-color':'green' } : {  'width':'100%', 'background-color':'orange' }">
        <!--<input type="checkbox" ng-model="x.done"  id="todoList_{{$index}}"> --><span ng-bind="x.todoText"></span> 
        <input type="button" ng-model="x.todoText" value="Edit" ng-click='updateList(x, $index)'  ng-disabled="x.done">
        <input type="button" ng-model="x.done" value="Finished" ng-click='markFinished(x, $index)' ng-disabled="x.done">
    </div>
</div>
<!--<p><button ng-click="remove()">Mark Finished</button></p>
<div ng-repeat="x in finishedList">
    <li>{{x.todoText}}</li>
</div> -->

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', ["$scope", function($scope) {
    $scope.todoList = [{todoText:'Clean House', done:false}];
    $scope.finishedList = [];

    $scope.todoAdd = function() {
        if($scope.todoList[$scope.objectIndex] == null) {
            $scope.todoList.push({todoText:$scope.todoInput, done:false});
        }else{
           $scope.todoList[$scope.objectIndex].todoText = $scope.todoInput;
        }    
        $scope.todoInput = "";
        $scope.objectIndex = "";
    };

   /* $scope.remove = function() {
        var oldList = $scope.todoList;
        /*$scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) 
                $scope.todoList.push(x);
            else
                $scope.finishedList.push(x); 
        }); 
    }; */
    $scope.updateList = function(x, index_val) {
        $scope.todoInput = x.todoText;
        $scope.objectIndex = index_val;
        $scope.userObject = angular.copy($scope.todoList[index_val]);
    };
    $scope.markFinished = function(x, index_val) {
         $scope.todoList[index_val].done = true;
    };
}]);
</script>
</body>
</html>
