<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div></div>
        <div class="container" ng-app="myApp" ng-controller="toDoController">
            <h3 class="text-center">TO DO LIST </h3>
            <div class="row" >
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search" placeholder="Search by name">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="todo" ng-keyup="$event.keyCode == 13 ? addToDo() : null" placeholder="Enter Title">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div ng-repeat="arrval in arrData| filter:search" class="panel panel-default">
                        <div class="panel-body"   ng-hide="arrval.deleted" ng-class="{'bg-primary':arrval.complete == true}">
                            <span   ng-hide="arrval.editing" ng-dblclick="editToDo(arrval)">{{ arrval.name}}</span>
                            <input ng-show="arrval.editing" ng-model="arrval.name" ng-blur="TodoDoneEdit(arrval)"  />
                            <div class="pull-right">
                                <button  type="button" class="btn btn-danger" ng-click="removeToDo(arrval)">Remove</button>
                                <button  type="button" ng-hide="arrval.complete" class="btn btn-danger" ng-click="markAsDone(arrval)">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = angular.module("myApp", []);
            app.controller("toDoController", ["$scope", function ($scope) {
                    // $scope.arrData= [{name:"First",complete:false,editing: false,deleted: false},{name:"Second",complete:false,editing: false,deleted: false},{name:"Third",complete:false,editing: false,deleted: false}];
                    $scope.arrData = [];
                    $scope.todo = "";
                    $scope.addToDo = function () {
                        if ($scope.todo != "") {
                            $scope.arrData.push({name: $scope.todo, complete: false, editing: false, deleted: false});
                            $scope.todo = "";
                        }
                    }
                    $scope.removeToDo = function (valueObject) {
                        valueObject.deleted = true;
                    }
                    $scope.editToDo = function (valueObject) {
                        valueObject.editing = true;
                    }
                    $scope.TodoDoneEdit = function (valueObject) {
                        valueObject.editing = false;
                    }
                    $scope.markAsDone = function (valueObject) {
                        valueObject.complete = true;
                    }

                }]);
        </script>
    </body>
</html>
