<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div></div>
        <div class="container" ng-app="myApp" ng-controller="toDoController">
            <h3 class="text-center">TO DO LIST </h3>
            <div class="row" >
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="todo" placeholder="Enter Title">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="addToDo()">Save</button>
                        <input type="hidden" ng-model="oldto">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div ng-repeat="arrval in arrData" class="panel panel-default">
                        <div class="panel-body">{{ arrval}}  <div class="pull-right"> <button  type="button" class="btn btn-danger" ng-click="editToDo($index)">Edit</button> &nbsp;&nbsp;&nbsp;&nbsp; <button  type="button" class="btn btn-danger" ng-click="removeToDo($index)">Remove</button> </div> </div>
                    </div>

                </div>
            </div>

        </div>

        <script>
            var app = angular.module("myApp", []);
            app.controller("toDoController", ["$scope", function ($scope) {

                    //$scope.arrData= ["First","Second","Third","Fourth","Fifth"];
                    $scope.arrData = [];
                    $scope.oldto = "";
                    $scope.todo = "";
                    $scope.addToDo = function () {
                        if ($scope.todo == "") {
                            alert("Please enter title");
                            return false;
                        } else { 
                            if ($scope.oldto != "" || $scope.oldto == "0") { 
                                $scope.arrData[$scope.oldto] = $scope.todo;
                                $scope.todo = "";
                                $scope.oldto = "";
                            } else {
                                $scope.arrData.push($scope.todo);
                                $scope.todo = "";
                                
                            }

                        }
                    }
                    $scope.removeToDo = function (indexvalue) {
                        $scope.arrData.splice(indexvalue, 1);
                    }
                    $scope.editToDo = function (indexvalue) {
                        $scope.todo = $scope.arrData[indexvalue];
                        $scope.oldto = indexvalue;
                    }

                }]);
        </script>
    </body>
</html>
