<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCntrl" class="container">
<h2>To Do List</h2>
	<form ng-submit="add()" class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="val">
		</div>
		<button type="submit"  class="btn btn-success">Add Task</button>
	</form>

	<br>
	<div ng-show="items.length > 0" class="alert alert-success">
		<strong>Success!</strong> Item Added!
	</div>
	<table ng-show="items.length" class="table table-striped table-bordered">
    <thead>
      <tr>
		<th>No.</th>
        <th>Tasks</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in items">
		<td>{{items.indexOf(x) + 1}}.</td>
        <td><input type="text" class="form-control" value="{{x.items}}"/></td>
        <td><button class="btn btn-danger" ng-click="remove(items.indexOf(x))">Delete</button></td>
      </tr>      
    </tbody>
  </table>
</div>
<script>
var app = angular.module('myApp', []); 

app.controller('myCntrl', function($scope) {
    
    $scope.items = [];
    var index;
    $scope.add = function() {
        $scope.items.push({items:$scope.val});
        $scope.val = "";
    };
    
	$scope.remove = function($val){ 
		$scope.items.splice($val, 1);
	}	
   
});
</script>
</body>
</html>
