<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>To do list</title>
<style type="text/css">
.todolistOuter { margin: 20px auto; width: 550px; position: relative }
.todolistOuter ul { list-style: none; padding: 0; margin: 0 }
.todolistOuter ul li { font-weight: 600; padding: 5px 2px; display: inline-block; width: 100%; vertical-align: middle }
.todolistOuter .add-button { margin: 5px 0 }
.todolistOuter .list-btn { text-align: right; float: right; max-width: 20%; width: 100%; margin: 0 }
</style>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="todoApp">
<div ng-controller="todoController" class="todolistOuter">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">To do List</h1>
    </div>
    <div class="panel-body">
      <form ng-submit="todoAdd()" class="form-inline">
        <div class="form-group">
          <input type="text" ng-model="title" class="form-control" size="55" placeholder="Add List">
          <input type="submit" value="Add New" class="btn btn-primary add-button">
        </div>
      </form>
      <ul>
        <li ng-repeat="list in todoList track by $index">
        	<div class="row">
        	<div class="col-sm-6">{{ list }}</div>
            <div class="col-sm-6"> {{ today | date:"dd.MM.y h.mm.s" }} <button class="remove-btn" ng-click="delete()">Remove List</button></div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End todolistOuter --> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script> 
<script>
	var app = angular.module('todoApp', [])
    app.controller('todoController', ['$scope', function($scope) {
		$scope.today = new Date();
        $scope.todoList = ['Pune', 'Mumbai', 'Delhi', 'Kolhapur'];
        $scope.todoAdd = function() {
            $scope.todoList.push($scope.title);
        };
		 $scope.delete = function() {
            $scope.todoList.splice(this.$index, 1);
        }
    }]);
</script>
</body>
</html>