<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		body{width:600px; margin:20px auto;}
		.listWrapper{border:1px solid #000;padding:30px;}
		.lists{ margin:20px 0px;}
		ul{padding:0; list-style:none;margin:10px 0;}
		.lists ul li {margin:8px 0;border:1px solid #ccc;padding:3px 5px;}
		li{ font-size:20px; position:relative;}
		.timeText{display:inline-block;position:absolute;right:25px;}
		.btn{background-color:#dedede; width:100px;}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  </head>
  <body ng-app="listApp">
	
	<h1>To do list</h1>
	<div class="listWrapper"  ng-controller="listCntrl">
		
		<div class="input-group">
		  <input type="text" class="form-control" id="input" ng-model="item" placeholder="Enter item">
		  <div class="input-group-btn">
			<button class="btn btn-default" type="submit" ng-click="addList()">Add</button>
		  </div>
		</div> 
		<p>ITEMS : {{itemsLeft}}</p>
		<div class="lists"> 
			<ul>
				<li ng-repeat="items in listItems">{{items}}<span class="timeText">{{theTime}}</span><button type="button" class="close" aria-label="Close" ng-click="deleteItem($index)"><span aria-hidden="true">&times;</span></button></li>
			</ul>
			
					
		</div> 
		<hr />
		<div class="listsDone"> 
			<h4>Items Checked:</h4>
			<ul>
				<li style="text-decoration:line-through;" ng-repeat="x in itemsChecked">{{x}}</li>
			</ul>
			
			
		</div> 
		
	</div> 

	<script>
			var app = angular.module('listApp', []);
			app.controller('listCntrl',['$scope', '$timeout' , function($scope,$timeout) {
				 $scope.listItems = [];
				 $scope.itemsChecked = [];
				 
				 $scope.itemsLeft = $scope.listItems.length;
	
				 $scope.addList = function(){	
					if($scope.item){
					 $scope.listItems.push($scope.item);
					 $scope.itemsLeft = $scope.listItems.length;
					 //$scope.itemsLeft++;					 
					}else{
						alert("Enter value");
					}
					return $scope.itemsLeft;
				 }
				 $scope.deleteItem = function(pos){
					var delItem = $scope.listItems[pos];
					$scope.listItems.splice(pos, 1);
					$scope.itemsLeft--;

					$scope.itemsChecked.push(delItem);
				}	
				
				 
			}]);

	</script>
  </body>
</html>