<!DOCTYPE html>
<HTML>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8//angular.min.js"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="todolistController">
        Please enter your task :
        <input type="text" ng-model="task" placeholder="Enter your task"/> 
        <button ng-click="addtolist()">Add</button>    
        <br/><br/>

    
        Tasks List : 
        <ul>
        <li ng-repeat="x in todolistarray track by $index" ng-style="myliObj">
             <input type="checkbox" ng-click="checked($index,checktask)" ng-model="checktask" ng-checked="false" />{{x}}
             <button ng-click="completed($index)" ng-hide="false"> Completed </button>
        </li>
        </ul>
        <button ng-click="removeChecked()" ng-hide="showbutton"> Remove Checked </button>
    </div>

    <script>
        var app = angular.module("myapp", []);
         
        app.controller("todolistController", function($scope) {            

            $scope.task = 'task one';
            $scope.todolistarray = [];
            $scope.removetasksarray = [];
            $scope.showbutton=true;
            $scope.myliObj = {                    
                    "background" : "white",
                    "font-size" : "20px"
            }
            $scope.myliCompletedObj = {                    
                    "background" : "green",
                    "font-size" : "20px"
            }

            $scope.addtolist = function(){        
                if($scope.task == "")
                {
                    alert("Please enter task");
                }
                else
                {
                    $scope.todolistarray.push($scope.task);
                    $scope.task = "";
                    $scope.showbutton=false;
                }
            }

            $scope.checked = function(x,ifchecked){
                if(ifchecked == false)
                {
                    var x = $scope.removetasksarray.indexOf(x);
                    $scope.removetasksarray.splice(x, 1);
                }
                else
                {
                    $scope.removetasksarray.push(x);
                }
            }

            $scope.removeChecked = function(){                
                for(var i = $scope.removetasksarray.length - 1; i >= 0; i--){                    
                    $scope.todolistarray.splice(i,1);
                }                
                $scope.removetasksarray = [];
            }

            
         });
    </script>
</body>
</HTML>