<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="css/jquery.datepick.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.datepick.js"></script>

        <style>
            .panel-blue > .panel-heading{
                background: #3498db;
            }
            .panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: white;
            }
            .panel-blue {
                border-color: #3498db;
            }
            
            
            
            .custom-class{
  background-color: gray
}

.default-color{
  background-color: red
}


        </style>
    </head>
    <body>
        <script>


            var app = angular.module('myTodoApp', []);

            app.controller('todoController', ['$scope', function ($scope) {
                    $scope.todoLists = [{text: 'this is first todo list', date: '2017-02-14', done: false}, {text: 'this is first todo list 2', date: '2017-02-14', done: false}]
                    $scope.tempTodoData = {};
                    $scope.showAddButton = 1;
                    $scope.todoAdd = function () {
                        $scope.todoSave('add')
                    }
                    $scope.tododUpdate = function () {
                        $scope.todoSave('edit')
                    }

                    $scope.todoSave = function (type) {
                        if (type == 'add') {
                            $scope.todoLists.push({
                                text: $scope.tempTodoData.text,
                                date: $scope.tempTodoData.date,
                                done: $scope.tempTodoData.done,
                            });
                        } else if (type == 'edit') {
                            $scope.todoLists[$scope.index].text = $scope.tempTodoData.text;
                            $scope.todoLists[$scope.index].date = $scope.tempTodoData.date;
                            $scope.showAddButton = !$scope.showAddButton;
                        }
                        $scope.tempTodoData = {};
                    }
                    $scope.remove = function() {
                        var oldList = $scope.todoLists;
                        $scope.todoLists = [];
                        angular.forEach(oldList, function(x) {
                            if (!x.done) $scope.todoLists.push(x);
                        });
                    };
                    $scope.todoEdit = function (todo) {
                        $scope.showAddButton = 0;
                        $scope.tempTodoData = {
                            text: todo.text,
                            date: todo.date,
                            done: false
                        }
                        $scope.index = $scope.todoLists.indexOf(todo);
                    }

                    $scope.todoCancel = function () {
                        $scope.showAddButton = !$scope.showAddButton;
                        $scope.tempTodoData = {};
                    }
                    
                    
                    
                    $scope.checkDate = function(date){
                        
                    }
                }]);



        </script>

        
        <div class="container" ng-app="myTodoApp" ng-controller="todoController">
            <div class="panel panel-blue margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Basic Form</h3>
                </div>
                <div class="panel-body">
                    <form class="margin-bottom-40" role="form">
                        <div class="form-group">
                            <label >Text</label>
                            <input type="text" class="form-control" ng-model="tempTodoData.text"  placeholder="Add New" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Date</label>
                            <input type="text" class="form-control" id="todoDate"  ng-model="tempTodoData.date" placeholder="Date" required>
                        </div>

                        <button type="submit" class="btn-u btn-u-blue" ng-click="todoAdd()" ng-show="showAddButton" >Add New</button>
                        <button type="submit" class="btn-u btn-u-blue" ng-click="tododUpdate()" ng-hide="showAddButton" >Update</button>
                        <button type="submit" class="btn-u btn-u-blue" ng-click="todoCancel()" ng-hide="showAddButton">Cancel</button>
                        
                    </form>


                </div>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>#</th>
                        <th>Date</th>
                        <th>Text</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todoList in todoLists" ng-class="{'custom-class': checkDate(todoList.date)}">
                        <td><input type="checkbox" ng-model="todoList.done"></td>
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{todoList.date}}</td>
                        <td>{{todoList.text}}</td>
                       
                        <td>
                            <a class="blue-text" href="javascript:void(0);" ng-click="todoEdit(todoList);"><i class="fa fa-user"></i>Edit</a>
                           
                        </td>
                    </tr>
                    

                </tbody>
            </table>
            <p><button ng-click="remove()">Remove marked</button></p>
            
            
            
        </div>
    </body>
    <script>
        $('#todoDate').datepick({dateFormat: 'yyyy-mm-dd'});
        
        
        var D1 = '2017-05-21';
        
        var todayDate = new Date();
        var todayMonth = todayDate.getMonth() + 1;
        var todayDay = todayDate.getDate();
        var todayYear = todayDate.getFullYear();
        var todayDateText = todayDay + "/" + todayMonth + "/" + todayYear;
        
        var startDate = new Date(D1);
        var endDate = new Date(todayYear+'-'+todayMonth+'-'+todayDay);
        
        
        if (startDate < endDate){
            // Do something
            alert('in the if')
        }else{
            alert('in the else')
        }


        
    </script>
</html>