<html>
    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="css/jquery.datepick.css"> 
<script type="text/javascript" src="js/jquery.plugin.js"></script> 
<script type="text/javascript" src="js/jquery.datepick.js"></script>

        <style>
            .panel-blue > .panel-heading{
                background: #3498db;
            }
            .panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: white;
            }
            .panel-blue {
                border-color: #3498db;
            }
            
            
            
            .custom-class{
  background-color: gray
}

.default-color{
  background-color: red
}


        </style>
    </head>
    <body>
        
        <div class="container" ng-app="myTodoApp" ng-controller="todoController">

            <!-- Add Task | Start -->
            <div class="panel panel-blue margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>Basic Form</h3>
                </div>
                <div class="panel-body">
                    <form class="margin-bottom-40" role="form">
                        <div class="form-group">
                            <label >Text</label>
                            <input type="text" class="form-control" ng-model="tempTodoData.text"  placeholder="Add New" minlength="2" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <label for="todoDate">Date</label>
                            <input type="date" class="form-control" id="todoDate"  ng-model="tempTodoData.date" placeholder="Date" required>
                        </div>
                        <button type="submit" class="btn-u btn-u-blue" ng-click="add()" ng-show="showAddButton" >Add New</button>
                        <button type="submit" class="btn-u btn-u-blue" ng-click="update()" ng-hide="showAddButton" >Update</button>
                        <button type="submit" class="btn-u btn-u-blue" ng-click="cancel()" ng-hide="showAddButton">Cancel</button>
                    </form>
                </div>
            </div>
            <!-- Add Task | End -->


            <!-- Pending Task List | Start -->
            <div ng-show="taskLength('pending')">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>#</th>
                            <th>Date</th>
                            <th>Text</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todoList in todoLists|filter:{done:false}" ng-class="{'custom-class': checkDate(todoList.date)}">
                            <td><input type="checkbox" ng-model="todoList.selected"></td>
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{todoList.date | date:'yyyy-MM-dd'}}</td>
                            <td>{{todoList.text}}</td>
                            <td>
                                <a class="blue-text" href="javascript:void(0);" ng-click="edit(todoList)"><i class="fa fa-user"></i>Edit</a>
                            </td>
                        </tr>
                        

                    </tbody>
                </table>
                <p><button ng-click="done()">Done</button></p>
            </div>
            <!-- Pending Task List | End -->


            <!-- Done Task List | Start -->
            <div ng-show="taskLength('done')">
                <hr>
                <table class="table" ng-show="todoLists.length">
                    <thead>
                        <tr>
                            <th>Option</th>
                            <th>#</th>
                            <th>Date</th>
                            <th>Text</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todoList in todoLists|filter:{done:true}" ng-class="{'custom-class': checkDate(todoList.date)}">
                            <td><input type="checkbox" ng-model="todoList.selected"></td>
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{todoList.date | date:'yyyy-MM-dd'}}</td>
                            <td><strike>{{todoList.text}}</strike></td>
                            <td>
                                <a class="blue-text" href="javascript:void(0);" ng-click="delete(todoList)"><i class="fa fa-user"></i>Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><button ng-click="undo()">Undo</button></p>
            </div>
            <!-- Done Task List | End -->
        </div>



        <script>
            var app = angular.module('myTodoApp', []);

            app.controller('todoController', ['$scope', function($scope){
                var editObject = {};
                $scope.todoLists = [];
                $scope.tempTodoData = {};
                $scope.showAddButton = 1;
                $scope.add = function () {
                    if($scope.tempTodoData.text && $scope.tempTodoData.date){
                        if($scope.tempTodoData.text.length < 2){
                            return;
                        }
                        $scope.todoLists.push({
                            text: $scope.tempTodoData.text,
                            date: $scope.tempTodoData.date,
                            done: false,
                        });
                        $scope.tempTodoData = {};
                    }
                }
                $scope.update = function(){
                    $scope.showAddButton = 1;
                    for(var i in $scope.tempTodoData){
                        editObject[i] = $scope.tempTodoData[i];
                    }
                    $scope.tempTodoData = {};
                }
                $scope.cancel = function () {
                    $scope.showAddButton = 1;
                    $scope.tempTodoData = {};
                }
                $scope.done = function() {
                    angular.forEach($scope.todoLists, function(x) {
                        if(x.selected){
                            x.done = true;
                        }
                    });
                };
                $scope.undo = function(){
                    angular.forEach($scope.todoLists, function(x) {
                        if(x.selected){
                            x.done = false;
                        }
                    });
                }
                $scope.delete = function(taskElement){
                    $scope.todoLists.splice($scope.todoLists.indexOf(taskElement), 1);
                }
                $scope.edit = function(taskElement){
                    $scope.showAddButton = 0;
                    var index = $scope.todoLists.indexOf(taskElement)
                    editObject = $scope.todoLists[index];
                    for(var i in editObject){
                        $scope.tempTodoData[i] = editObject[i];
                    }
                }
                $scope.taskLength = function(type){
                    var len = 0;
                    for(var i=0; i<$scope.todoLists.length; i++){
                        if(type == "pending"){
                            if($scope.todoLists[i].done == false){
                                len++;
                            }
                        }else if(type == "done"){
                            if($scope.todoLists[i].done == true){
                                len++;
                            }
                        }
                    }
                    return len;
                }
                $scope.checkDate = function(date){
                }
            }]);
        </script>
    </body>
</html>