<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>:: To Do List ::</title>
<!-- Angular JS File --> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- CSS File --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css">
body {width:100%; background:#f5f5f5}
.todolist {background-color:#fff; padding:20px; margin-top:30px}
.todolist h2 {margin:0 0 10px; text-align:center}
.todolist .table {margin:30px 0 0}
.todolist .form-control {border-radius:0}
</style>
</head>
<body>
<div class="container" ng-app="todoApp">
  <div class="todolist" ng-controller="todoCtrl">
    <h2>To Do List</h2>
    <form class="form-horizontal">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter To Do Note" ng-model="todoNote" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary btn-block" ng-click="todoAdd()">Create Note</button>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="x in arrayList">
          <td>{{x}}</td>
          <td class="text-right"><button type="button" class="btn btn-default btn-xs" ng-click="todoRemove($index);"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="success">
          <td colspan="3"><span class="count-todos"></span> Items Left <strong>{{arrayList.length}}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
var app = angular.module('todoApp', []);
app.controller('todoCtrl', function($scope) {
	// "Todo Note 1", "Todo Note 2"
   $scope.arrayList= [];
    $scope.todoNote = "";
    $scope.todoAdd = function(){
        if($scope.todoNote != ""){
        $scope.arrayList.push($scope.todoNote);
        $scope.todoNote = "";
        } else {
       	alert("Please insert your note");
       }
    };
    
    $scope.todoRemove = function(index){
        $scope.arrayList.splice(index,1);
    };
});
</script>
</body>
</html>
