<!doctype html>
<html>
	<head>
		
	</head>

	<body>
		<div ng-app="CalculatorApp">
			<div ng-controller="ctrlRoot">
				<p>Root</p>
				<button ng-click="broadcast()">Root BroadCast</button>
				<button ng-click="emit()">Root Emit</button>
				<hr>
				<div ng-controller="ctrlParent">
					<p>Parent-1</p>
					<button ng-click="broadcast()">Parent-1 BroadCast</button>
					<button ng-click="emit()">Parent-1 Emit</button>
					<hr>
					<div ng-controller="ctrlChild">
						<p>Parent-1 - child-1</p>
						<button ng-click="broadcast()">Child BroadCast</button>
						<button ng-click="emit()">Child Emit</button>
						<hr>
					</div>
				</div>
				<div ng-controller="ctrlParent">
					<p>Parent-2</p>
					<button ng-click="broadcast()">Parent-2 BroadCast</button>
					<button ng-click="emit()">Parent-2 Emit</button>
				</div>
			</div>
		</div>

		<script src="angular.min.js"></script>
		<script src="jquery.min.js"></script>
		<script>
			var calcModule = angular.module("CalculatorApp", []);

				calcModule.controller("ctrlRoot", ["$scope", function($scope){
					$scope.title = "Angular Event";
					$scope.broadcast = function(){
						$scope.$broadcast("RootBroadcastEvent", $scope.title);
					};
					$scope.$on("RootEmitEvent", function(e, data){
						alert("parent - RootBroadcastEvent - " + data);
					});
				}]);
				
				calcModule.controller("ctrlParent", ["$scope", function($scope){
					$scope.broadcast = function(){
						$scope.$broadcast("RootBroadcastEvent", $scope.title);
					};
					$scope.emit = function(){
						$scope.$emit("ParentEventEmit");
					};
					$scope.$on("RootBroadcastEvent", function(e, data){
						alert("Parent - RootBroadcastEvent - " + data);
					});
					$scope.$on("ParentEventEmit", function(e, data){
						alert("Parent - ParentEventEmit");
					});
					$scope.$on("ChildEventEmit", function(e, data){
						alert("Parent - ChildEventEmit");
					});
				}]);

				calcModule.controller("ctrlChild", ["$scope", function($scope){
					$scope.emit = function(){
						$scope.$emit("ChildEventEmit");
					};
					$scope.$on("RootBroadcastEvent", function(e, data){
						alert("Child - RootBroadcastEvent - " + data);
					});
					$scope.$on("ChildEventEmit", function(e, data){
						alert("Child - ChildEventEmit");
					});
				}]);
		</script>
	</body>
</html>