<!doctype html>
<html>
	<head>
		
	</head>

	<body>
		<div ng-app="CalculatorApp">
			<div ng-controller="ParentCalculatorCtrl">
				<!--
					$scope
						data = {}
							total
				-->
				<div ng-controller="ChildCalculatorCtrl">
					<!--
						$scope
							id = 2
							a = 10
							b = 20
							sum = a + b = 30
					-->
					Value 1 = <input type="text" ng-model="a" />
					Value 2 = <input type="text" ng-model="b" />
					<button ng-click="calSum()">Sum</button>
					<div>Sum = {{sum}}</div>
				</div>
				<hr>
				<div ng-controller="ChildCalculatorCtrl">
					<!--
						$scope
							id = 3
							a = 10
							b = 20
							sum = a + b = 30
					-->
					Value 1 = <input type="text" ng-model="a" />
					Value 2 = <input type="text" ng-model="b" />
					<button ng-click="calSum()">Sum</button>
					<div>Sum = {{sum}}</div>
				</div>
				<hr>
				<div>Total = {{data.total}}</div>
			</div>
		</div>

		<script src="angular.min.js"></script>
		<script src="jquery.min.js"></script>
		<script>
			var calcModule = angular.module("CalculatorApp", []);

				calcModule.controller("ParentCalculatorCtrl", ["$scope", function($scope){
					$scope.data = {
						total: 0
					};
				}]);

				calcModule.controller("ChildCalculatorCtrl", ["$scope", "serviceCalc", function($scope, serviceCalc){
					$scope.a = 0;
					$scope.b = 0;
					$scope.calSum = function(){
						$scope.sum = parseInt($scope.a) + parseInt($scope.b);
						$scope.data.total = serviceCalc.calcAll($scope.$id, $scope.sum);
					}
				}]);

				calcModule.factory("serviceCalc", ["$log", function($log){
					var obj = {};
					var total = 0;
					var sumArr = [];
					obj.calcAll = function(id, sumValue){
						total = 0;
						sumArr[id] = sumValue;
						var propArr = Object.keys(sumArr);
						for(var i=0; i<propArr.length; i++){
							total += sumArr[propArr[i]];
						}
						return total;
					}
					$log.log(obj);
					return obj;
				}]);
		</script>
	</body>
</html>